In [1]:
def add_nums(x, y):
    return x + y

add_nums(1, 2)

3

In [2]:
def add_nums(x, y, z = None, a = None, b = None, c = None):
    if z == None :
        return x + y
    else:
        return x + y + z

add_nums(1, 2)
add_nums(1, 5, 10)

16

In [3]:
add_nums(1,2,4,5,6)

7

In [4]:
# Here is a list of faculty teaching this MOOC. Can you write a function and apply it using map() to get a list of 
# all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', â€¦])

people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
# print(type(people))
# print(people[0])

def split_title_and_name_list(person):
    i = 0
    temp = []
    title_lastname = []
    while( i < len(people)):
        temp = person[i].split(' ')
        title_lastname.append(temp[0] + ' ' + temp[-1])
        i += 1
    return title_lastname

split_title_and_name_list(people)

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [5]:
def split_title_and_name(person):
    temp = []
    temp = person.split(' ')
    return (temp[0] + ' ' + temp[-1])

list(map(split_title_and_name , people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [6]:
# Using Lamda expression
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

# Lamda expression : (lambda x: x.split()[0] + ' ' + x.split()[-1])

#option 2
#list(map(split_title_and_name, people)) == list(map(???))

True
True
True
True

In [7]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

print(times_tables())

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 0, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [8]:
# List Comprehension check

times_tables() == [ i*j for i in range(10) for j in range (10) ]

# List Comprehension:  [ i*j for i in range(10) for j in range (10) ]

True

In [9]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [ lowercase[i]+lowercase[j]+digits[k]+digits[l]  for i in range(len(lowercase)) for j in range(len(lowercase)) 
          for k in range(len(digits)) for l in range(len(digits)) ]
answer[:20]


# correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

# correct_answer[:50] # Display first 50 ids

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19']

In [10]:
s = ['a', 'b', 'c'] + [1, 2, 3]
s

['a', 'b', 'c', 1, 2, 3]

In [11]:
type(s)

list

In [15]:
type((lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

str

In [17]:
type((lambda x: x.split()[0] + ' ' + x.split()[-1]))

function

In [16]:
type(lambda x: x+1)

function